<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PM Components</title>
  <style>
    h1
    {
      margin: 10px 0;
    }
    body
    {
      font-family: Arial, Helvetica, sans-serif;
    }
    ul
    {
      margin: 0;
      padding: 0 26px;
      font-size: 20px;
    }
    a
    {
      text-decoration: none;
    }
    li
    {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <h1>PM components list</h1>
  <ul>
    <li><a href="smoke/pm-button/">&lt;pm-button&gt;</a></li>
    <li><a href="smoke/pm-dialog/">&lt;pm-dialog&gt;</a></li>
    <li><a href="smoke/pm-tab-panel/">&lt;pm-tab-panel&gt;</a></li>
    <li><a href="smoke/pm-table/">&lt;pm-table&gt;</a></li>
    <li><a href="smoke/pm-toggle/">&lt;pm-toggle&gt;</a></li>
  </ul>
</body>
</html>
