#documentation
{
  font-family: sans-serif;
}
#documentation pre
{
  padding: 10px;
  border: 1px solid grey;
}

pm-table
{
  width: 500px;
  display: block;
}

pm-tab-panel
{
  width: 100%;
}

#documentation
{
  display: inline-block;
}