#documentation
{
  font-family: sans-serif;
}
#documentation pre
{
  padding: 0 10px;
  margin: 0;
}

pm-table
{
  width: 500px;
  display: block;
}

pm-tab-panel
{
  width: 100%;
}

#documentation
{
  display: inline-block;
}